[submodule "themes/hugo-theme-gallery"]
	path = themes/hugo-theme-gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
[submodule "themes/hugo-theme-dream"]
	path = themes/hugo-theme-dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
